.choose-us {
	padding-top: 95px;
}

.choose-us__icon {
	
	float: left;
	width: 18%;
	margin-left: -20px;
	margin-right: 10%;
	
}

.choose-us__text,
.choose-us__title {
	width: 74%;
	float: right;
}
.choose-us__under-the-title {
	padding-bottom: 25px;
	display: inline-block;
}
.choose-us__text_last-child  {
	padding-bottom: 80px;
}

