.header{
	background: #e9e9e9;
	position: relative;
}
.header-content {
	padding-top: 32%;
}
.header-content small
{
	padding-top: 3%;
	padding-bottom: 5%;
	display: inline-block;
}
.header-content a {
	padding-bottom:   22%;
	display: inline-block;
}
.menu {
	cursor: pointer;
}
