/*Здесь будут объеденены все файлы для сборки*/
@import url(reset.css);
@import url(about-us.css);
@import url(nav+header.css);
@import url(choose-us.css);
@import url(wip.css);
@import url(fact.css);
@import url(our-team.css);
@import url(our-skill.css);
@import url(brand.css);
@import url(carusel.css);
/* GPL v 2.0 vladkhvo@gmail.com 2014





/*********************** our news ***********************/
.more
, .news-slogan {
	text-align: center;
}
.our-news {
	padding-top: 8%;
}
.date {
	padding-bottom: 40px;
}
.date:before {
	content: '';
	position: absolute;
	width: 32px;
	height: 1px;
	background: #d1d1d1;
	margin-top: 35px;

	}													}
.hash-tag {
	padding-top: 3%;
}
.second-news {
	padding-top: 50px;
	padding-bottom: 50px;
}
.more {
	padding-bottom: 95px
}
/************************** feedback *****************************/
 .feedback {
	background: #f9f9f9;
	padding: 65px;
 }
 .feedback form {
 	padding: 35px;
 }
 .form-group input {
	box-shadow: none;
	border: none;
	color: black;
	border-bottom: 1px solid #d1d1d1;
	border-radius: 0;
	padding-left: 0;	
	padding-top: 15px;
	background: #f9f9f9;
	font-style: normal;
	font-family: "Oswald";
	font-weight: lighter;
	margin-top: 32px;
	font-size: 14pt;
}
.form-group input:focus {
	box-shadow: none;
}
.form-group input::-webkit-input-placeholder { 
	color: black;
}
 .form-group a {
 	text-decoration: underline;
 	font-size: 18pt;
 

 }
 .send{
 	margin-top: 28px;
 	padding-bottom: 95px;
 	text-align: center;
 }
/************************** contact us *****************************/
.contact-us {
	text-align: center;
}
.contact-us h2 {
padding-top: 95px;
}
.contact-us hr {
	margin-bottom: 50px;
	margin-top: 45px;

}
.bye-text {
	padding-bottom: 46px;
}
address {
	margin-top: 55px;
	font-family:  "Oswald";
	font-weight: normal;
	font-size: 14pt;
	vertical-align: bottom;
	display: inline-block;
	text-align: center;

}
.mail {
	background: red;
	background: url(../img/aircraft.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
	height: 100px;
}

.adrs {
	background: url(../img/lable.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
	height: 100px;
}
.tell {
	background: url(../img/tell.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
	height: 100px;
}
.contact-info {
	padding-bottom: 95px;
}

/************************** footer *****************************/
.footer {
	background: #292929;
	text-align: center;
	height: 350px;
}
.footer h3 {
	color: white;
	padding-top: 110px;
	margin-bottom: 43px;
	background: url(../img/byciсle.png) no-repeat 50% 60%;
	background-size: 25%;
	font-size: 24pt;
	font-weight: bold;
	font-family: "Oswald";
	text-align: center;
	letter-spacing: 3px;

}

.footer li {
	float: left;
	display: inline-block;
	list-style: none;
	height: 30px;
	width: 30px;
	cursor: pointer;
	margin-left: 20px;


}
.footer ul {
	text-align:  center;

	padding-bottom: 75px;

}
.footer li:nth-child(1) {
background: url(../img/social-sprite.png);
}
.footer li:nth-child(2) {
background: url(../img/social-sprite.png);
background-position: 20%;
}
.footer li:nth-child(3) {
background: url(../img/social-sprite.png);
background-position: 40%;
}
.footer li:nth-child(4) {
background: url(../img/social-sprite.png);
background-position: 60%;
}
.footer li:nth-child(5) {
background: url(../img/social-sprite.png);
background-position: 80%;
}
.footer li:nth-child(6) {
background: url(../img/social-sprite.png);
background-position: 100%;
}
/*end main style*/
@media (min-width: 1480px) {
 .menu {
	width: 4.5%;
	background: #292929;
	position: absolute;
	height: 100%;
	background-image: url(../img/sandwich-menu.png);
	background-repeat: no-repeat;
	background-position: center 2%;
	padding-top: 29%;
}

.menu h3 {
	color: white;
	
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
}
.about h6:after {
	width: 10%;
	height: 18%;
	content: ' ';
	background: url(../img/arrow-right.png);
	background-repeat: no-repeat;
	background-position: right;
	position: absolute;
}
}

@media (min-width: 320px) and (max-width: 860px) {
 
.iphone {
	padding-top: 0px;
	margin-top: -160px;

}


}
@media (max-width: 420px) {
	.fact {
	text-align: justify;
}
}
/*iphone img fixed up*/
@media (min-width: 992px) and (max-width: 1200px) {
 
.iphone {
	padding-top: 150px;
}
}
@media (min-width: 860px) and (max-width: 992px) {
 
.iphone {
	padding-top: 0;
	margin-top: -160px;
	

}
}
/*design menu*/
@media (max-width: 1480px) {
	.menu {
	background: #f9f9f9;
	font-style: normal;
	font-family: "Oswald";
	font-weight: lighter;
	padding: 20px;
	
	font-size: 14pt;	
	background: #292929;
background-image: url(../img/sandwich-menu.png);
	background-repeat: no-repeat;
	background-position: 40px 45%;
	color: white;
	text-align: center;
	}
	.why-choose-us img {
				
	
				width: 15%;
				margin-left: 0px;
				
			}

}
/*iphone+ our skill fix*/
@media (min-width: 320px) and (max-width : 990px)  {
	.skill-list {
padding-top: 20%;
padding-bottom: 20%;
font-size: 0.6em;
	}
}
