@media (min-width: 1480px) {
	.menu {
		width: 4.5%;
		background: #292929;
		position: absolute;
		height: 100%;
		background-image: url(../img/sandwich-menu.png);
		background-repeat: no-repeat;
		background-position: center 2%;
		padding-top: 29%;
	}

	.menu h3 {
		color: white;	
		transform: rotate(-90deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	}
	.about h6:after {
		width: 10%;
		height: 18%;
		content: ' ';
		background: url(../img/arrow-right.png);
		background-repeat: no-repeat;
		background-position: right;
		position: absolute;
	}
}

@media (min-width: 320px) and (max-width: 860px) {
 	.iphone {
		padding-top: 0px;
		margin-top: -160px;
	}
}
@media (max-width: 420px) {
	.fact {
		text-align: justify;
	}
}
/*iphone img fixed up*/
@media (min-width: 992px) and (max-width: 1200px) {
	.iphone {
		padding-top: 150px;
	}
}
@media (min-width: 860px) and (max-width: 992px) {
	.iphone {
		padding-top: 0;
		margin-top: -160px;
	}
}
/*design menu*/
@media (max-width: 1480px) {
	.menu {
		background: #f9f9f9;
		font-style: normal;
		font-family: "Oswald";
		font-weight: lighter;
		padding: 20px;
		
		font-size: 14pt;	
		background: #292929;
		background-image: url(../img/sandwich-menu.png);
		background-repeat: no-repeat;
		background-position: 40px 45%;
		color: white;
		text-align: center;
	}
	.why-choose-us img {
		width: 15%;
		margin-left: 0px;			
	}

}
/*iphone+ our skill fix*/
@media (min-width: 320px) and (max-width : 990px)  {
	.skill-list {
		padding-top: 20%;
		padding-bottom: 20%;
		font-size: 0.6em;
	}
}
