.feedback {
	background: #f9f9f9;
	padding: 65px;
 }
.feedback form {
	padding: 35px;
}
.form-group input {
	box-shadow: none;
	border: none;
	color: black;
	border-bottom: 1px solid #d1d1d1;
	border-radius: 0;
	padding-left: 0;	
	padding-top: 15px;
	background: #f9f9f9;
	font-style: normal;
	font-family: "Oswald";
	font-weight: lighter;
	margin-top: 32px;
	font-size: 14pt;
}
.form-group input:focus {
	box-shadow: none;
}
.form-group input::-webkit-input-placeholder { 
	color: black;
}
.form-group a {
	text-decoration: underline;
	font-size: 18pt;
}
.send{
	margin-top: 28px;
	padding-bottom: 95px;
	text-align: center;
}