@media (min-width: 1480px) {
	.about h6:after {
		width: 10%;
		height: 18%;
		content: ' ';
		background: url(../img/arrow-right.png);
		background-repeat: no-repeat;
		background-position: right;
		position: absolute;
	}
}

@media (min-width: 320px) and (max-width: 860px) {
 	.iphone {
		padding-top: 0px;
		margin-top: -160px;
	}
}
@media (max-width: 420px) {
	.fact {
		text-align: justify;
	}
}
/*iphone img fixed up*/
@media (min-width: 992px) and (max-width: 1200px) {
	.iphone {
		padding-top: 150px;
	}
}
@media (min-width: 860px) and (max-width: 992px) {
	.iphone {
		padding-top: 0;
		margin-top: -160px;
	}
}
/*design menu*/
@media (max-width: 1480px) {

	.why-choose-us img {
		width: 15%;
		margin-left: 0px;			
	}

}
/*iphone+ our skill fix*/
@media (min-width: 320px) and (max-width : 990px)  {
	.skill-list {
		padding-top: 20%;
		padding-bottom: 20%;
		font-size: 0.6em;
	}
}
