/* GPL v 2.0 vladkhvo@gmail.com 2014
reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* end reset browser styles */

	img {
		height: 100%;
		width: 100%;
	}
	small
	{
	font-size: 14pt;
	color: #666666;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	}
	p {
		font-size: 12pt;
		color: #666666;
		font-family: 'PT Sans', sans-serif;
		font-weight: normal;
		line-height: 25px;

	}
	a {
		font-family: "Oswald";
		font-weight: normal;
		font-size: 150%;
		color: black;
		text-decoration: underline;
	}
	h1 {
		font-family: "Oswald";
		font-weight: lighter;
		font-size: 430%;
		
		text-transform: uppercase;

	}
	h2 {
			font-family: "Oswald";
		font-weight: bold;
		font-size: 255%;
		text-align: center;
		text-transform: uppercase;
	}
	h3 {
		font-size: 200%;
		font-size: normal;
	}


	h4 {
	font-family: "Oswald";
		font-weight: normal;
		font-size: 130%;
		text-align: center;
		text-transform: uppercase;	
	}
	h5 {
		font-size: 150%;
		font-family: "Oswald";
		font-weight: bold;
		padding-bottom: 2%;
		text-transform: uppercase;
	}

	h6 {
		font-size: 150%;
		text-align: center;
		font-family: "Lobster";
		font-weight: normal;
	}
	/********************** hr under about us **********************/


	.header{
		background: #e9e9e9;
		position: relative;


	}
	.header-content {
	padding-top: 32%;
	}

	.header-content small
	{
		padding-top: 3%;
		padding-bottom: 5%;
		display: inline-block;
	}
	.header-content a {
		padding-bottom:   22%;
		display: inline-block;
	}

	.menu {
		cursor: pointer;
	}

/*********************** about-us ***********************/
		.about-us {
			text-align: center;
			background: #f9f9f9;
		}
		.about-us a {
			padding-top: 47px;
			padding-bottom: 55px;
			display: inline-block;
		}
		.about-us h2 {
		padding-top: 26%;

		}
		.about-us h6 {
		padding-bottom: 6%;
		padding-top: 30px;
		}
		.about h6 {
		text-align: left;
		}

		.about-us span{
			word-spacing: 12px;
		}
		.our-work {
			background: #f9f9f9;
		}
		/* this gigantic selector spreads slashes in «our-works" */
		body > div.about-us > div > div:nth-child(4) > div > h4 > span:nth-child(2), body > div.block2 > div > div:nth-child(4) > div > h4 > span:nth-child(3) {
		margin-left: 12px;	
		}
		/* our work put down*/
		body > div.about-us > div > div:nth-child(3) > div > h2 {
			padding-top: 190px;
		}
		body > div.about-us > div > div:nth-child(4) > div > h4 {
			padding-top: 7.5%;
		}
		
		body > div.about-us > div > div:nth-child(2){
		text-align: left;
		}
		.about-us hr {
			border: 1px solid #eee;
			width: 90%;
		}
		.about-us img {
		padding-top: 13%;
		}
		.selected {
			color: gray;
			
		}
		body .logic-block-hr{
			background-image: url(img/hr-line.png);
			height: 6px;
			width: 30px;
			border: none;
			width: 31px;
			margin-top: 13%;
			margin-bottom: 15%;
		}

.our-work h2 {
padding-bottom: 45px;
}


/*********************** block why-choose-us ***********************/
			.why-choose-us {
				padding-top: 95px;
			}

			.why-choose-us img {
				
				float: left;
				width: 18%;
				margin-left: -20px;
				
			}

			.why-choose-us p, .why-choose-us h5 {
				margin-left: 20%;

			}
			.why-choose-us i {
				padding-bottom: 25px;
				display: inline-block;
			}
			.why-choose-us p:nth-child(2n)  {
				padding-bottom: 80px;
			}

/*********************** wip block ***********************/
			.wip {
				background: #e9e9e9;
			}

			.wip h1, .wip p, .wip a {
				color: #fcfcfc;
			}
			.wip-text {
				padding-top: 19%;
				padding-bottom: 208px;
			}
			.wip-text h1 {
				padding-bottom: 4.5%;
			}
			.wip-text p {
				padding-bottom: 8%;
			}

			.iphone {
				padding-top: 65px;
			}

/*********************** fact ***********************/
				.fact {
				background: #f9f9f9;
				padding-top: 60px;
				padding-bottom: 55px;

				}
				.fact h6{
				text-align: left;
				}
				.designer {
					background: url(img/designer.png) no-repeat ;
					height: 100px;
					padding-left: 100px;
					padding-top: 30px;
				}
				.time {
					background: url(img/clock.png) no-repeat ;
					background-position: 0 15px;
					height: 100px;
					padding-left: 100px;
					padding-top: 30px;
				}
				.project {
					background: url(img/pen-min.png) no-repeat ;
					background-position: 0 23px;
					height: 100px;
					padding-left: 100px;
					padding-top: 30px;
				}
				.coffe {
						background: url(img/cup.png) no-repeat ;
					background-position: 0 15px;

					height: 100px;
					padding-left: 100px;
					padding-top: 30px;
				}

/*********************** our team ***********************/
					.our-team {
						padding-top: 8%;
						text-align: center;
					}
					.our-slogan {
						padding-bottom: 9%;
					}
					.prof-cart p {
						text-align: center;
						padding-top: 5%;
						padding-bottom: 8%
					}
					.our-team h5 {
						padding-top: 8%;
						text-align: center;
					}

					.video img {
						height: 100%;
						width: 100%;
						padding-top: 6%;
						padding-bottom: 6%;

					}
/*********************** our skill ***********************/
								.our-skills li {
								background: #292929;
								color: #ffffff;
								margin-bottom: 20px;
								padding: 5px;
								padding-left: 20px;


								}
								.our-skills ul {
									-webkit-transform: rotate(-90deg);
									-ms-transform: rotate(-90deg);
									-o-transform: rotate(-90deg);
									transform: rotate(-90deg);
								}
								.our-skill-content {
									padding-top: 8%;
								}


								body > div.our-skills > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(2) {
									width: 80%;
								}
								body > div.our-skills > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(3) {
									width: 70%;
								}
								body > div.our-skills > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(4) {
									width: 90%;
								}
								body > div.our-skills > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(6) {
									width: 85%;
								}
								body > div.our-skills > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(8) {
									width: 72%;
								}
								body > div.our-skills > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(9) {
									width: 63%;
								}
								.our-skills h5, .our-skills p  {

								padding-bottom: 7%;
								}
/*********************** brands ***********************/
										.brand {
											padding-top: 7.5%;		
										}
										.brand .row div {
											padding: 40px;
											border: 1px solid #e1e1e1;
											height: 133px;
										}
										.brand {
											width: 99%;
										}
/*********************** carusel ***********************/
												.carusel {
													padding-top: 20%;
													padding-bottom: 16%;
													background: #e9e9e9;
													background-image: url(img/lines.png);
													background-repeat: no-repeat;
													background-position: 90% 60%;
													background-size: 55%;
													position: relative;
												}
												body > div.carusel > div > div > div > h6,
												body > div.carusel > div > div > div > p:nth-child(3) {
													text-align: right;

												}
												body > div.carusel > div > div > div > h6 {
													padding-top: 35px;
												}
												body > div.carusel > div > div > div > p:nth-child(3) {
													padding-top: 15px;
												}
												.carusel ul li {
													margin-left: 20px;
													list-style: none;
													background: url(img/dot.png) no-repeat;
													width: 10px;
													height: 10px;
													float: left;
												}

												.indicators {
													text-align: center;
													position: absolute;
													bottom: 50px;
													left: 0;
													right: 0;
												}
												.indicators .active-slide {
													background: url(img/dot-fat.png) no-repeat;
													width: 10px;
													height: 10px;
												}
												.quotes p:nth-child(1):before {
													content: '';
													position: absolute;
													height: 50px;
													width: 50px;
													background: url(img/quotes.png) no-repeat;
													margin-left: -50px;
													
												}

/*********************** our news ***********************/
													.more
													, .news-slogan {
														text-align: center;
													}
													.our-news {
														padding-top: 8%;
													}
													.date {
														padding-bottom: 40px;
													}
													.date:before {
														content: '';
														position: absolute;
														width: 32px;
														height: 1px;
														background: #d1d1d1;
														margin-top: 35px;

														}													}
													.hash-tag {
														padding-top: 3%;
													}
													.second-news {
														padding-top: 50px;
														padding-bottom: 50px;
													}
													.more {
														padding-bottom: 95px
													}
/************************** feedback *****************************/
 .feedback {
	background: #f9f9f9;
	padding: 65px;
 }
 .feedback form {
 	padding: 35px;
 }
 .form-group input {
	box-shadow: none;
	border: none;
	color: black;
	border-bottom: 1px solid #d1d1d1;
	border-radius: 0;
	padding-left: 0;	
	padding-top: 15px;
	background: #f9f9f9;
	font-style: normal;
	font-family: "Oswald";
	font-weight: lighter;
	margin-top: 32px;
	font-size: 14pt;
}
.form-group input:focus {
	box-shadow: none;
}
.form-group input::-webkit-input-placeholder { 
	color: black;
}
 .form-group a {
 	text-decoration: underline;
 	font-size: 18pt;
 

 }
 .send{
 	margin-top: 28px;
 	padding-bottom: 95px;
 	text-align: center;
 }
/************************** contact us *****************************/
.contact-us {
	text-align: center;
}
.contact-us h2 {
padding-top: 95px;
}
.contact-us hr {
	margin-bottom: 50px;
	margin-top: 45px;

}
.bye-text {
	padding-bottom: 46px;
}
address {
	margin-top: 55px;
	font-family:  "Oswald";
	font-weight: normal;
	font-size: 14pt;
	vertical-align: bottom;
	display: inline-block;
	text-align: center;

}
.mail {
	background: red;
	background: url(img/aircraft.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
	height: 100px;
}

.adrs {
	background: url(img/lable.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
	height: 100px;
}
.tell {
	background: url(img/tell.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
	height: 100px;
}
.contact-info {
	padding-bottom: 95px;
}

/************************** footer *****************************/
.footer {
	background: #292929;
	text-align: center;
	height: 350px;
}
.footer h3 {
	color: white;
	padding-top: 110px;
	margin-bottom: 43px;
	background: url(img/byciсle.png) no-repeat 50% 60%;
	background-size: 25%;
	font-size: 24pt;
	font-weight: bold;
	font-family: "Oswald";
	text-align: center;
	letter-spacing: 3px;

}

.footer li {
	float: left;
	display: inline-block;
	list-style: none;
	height: 30px;
	width: 30px;
	cursor: pointer;
	margin-left: 20px;


}
.footer ul {
	text-align:  center;

	padding-bottom: 75px;

}
.footer li:nth-child(1) {
background: url(img/social-sprite.png);
}
.footer li:nth-child(2) {
background: url(img/social-sprite.png);
background-position: 20%;
}
.footer li:nth-child(3) {
background: url(img/social-sprite.png);
background-position: 40%;
}
.footer li:nth-child(4) {
background: url(img/social-sprite.png);
background-position: 60%;
}
.footer li:nth-child(5) {
background: url(img/social-sprite.png);
background-position: 80%;
}
.footer li:nth-child(6) {
background: url(img/social-sprite.png);
background-position: 100%;
}
/*end main style*/
@media (min-width: 1480px) {
 .menu {
	width: 4.5%;
	background: #292929;
	position: absolute;
	height: 100%;
	background-image: url(img/sandwich-menu.png);
	background-repeat: no-repeat;
	background-position: center 2%;
	padding-top: 29%;
}

.menu h3 {
	color: white;
	
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
}
.about h6:after {
	width: 10%;
	height: 18%;
	content: ' ';
	background: url(img/arrow-right.png);
	background-repeat: no-repeat;
	background-position: right;
	position: absolute;
}
}

@media (min-width: 320px) and (max-width: 860px) {
 
.iphone {
	padding-top: 0px;
	margin-top: -160px;

}


}
@media (max-width: 420px) {
	.fact {
	text-align: justify;
}
}
/*iphone img fixed up*/
@media (min-width: 992px) and (max-width: 1200px) {
 
.iphone {
	padding-top: 150px;
}
}
@media (min-width: 860px) and (max-width: 992px) {
 
.iphone {
	padding-top: 0;
	margin-top: -160px;
	

}
}
/*design menu*/
@media (max-width: 1480px) {
	.menu {
	background: #f9f9f9;
	font-style: normal;
	font-family: "Oswald";
	font-weight: lighter;
	padding: 20px;
	
	font-size: 14pt;	
	background: #292929;
background-image: url(img/sandwich-menu.png);
	background-repeat: no-repeat;
	background-position: 40px 45%;
	color: white;
	text-align: center;
	}
	.why-choose-us img {
				
	
				width: 15%;
				margin-left: 0px;
				
			}

}
/*iphone+ our skill fix*/
@media (min-width: 320px) and (max-width : 990px)  {
	.skill-list {
padding-top: 20%;
padding-bottom: 20%;
font-size: 0.6em;
	}
}
